@model RegistroViewModel

@{
    ViewData["Title"] = "Registro";
}

<h1>
    Registrate
</h1>
@*ingresmaos el formulario dentro de una tarjeta*@
<div class="card">
    <div class="card-body">
        <form asp-action="Registro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" autocomplete="off" placeholder="correo@correo.com" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button class="btn btn-primary">Registrate</button>

            <a class="btn btn-success" asp-action="login">
                Login
            </a>

            <div class="container mt-5">
                <div class="text-center">
                    <a class="btn btn-primary microsoft-button"
                       asp-action="LoginExterno"
                       asp-route-proveedor="Microsoft">
                        <i class="bi bi-microsoft"></i>
                        Usar cuenta de Microsoft
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}