@using Microsoft.AspNetCore.Mvc.Localization;
@* inyectamos IViewLocalizer, para poder tradur la pagina, adicionalmente debemos importar la directiva *@
@inject IViewLocalizer localizer;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@localizer["Bienvenido"]</h1>
    <p>@localizer["Aprende más"]</p>
</div>

<div>
    <h3>@ViewBag.Saludo, David</h3>
</div>